<main class="container">
  <%= link_to "Back to services list", services_path %>

  <%= turbo_frame_tag @service do %>
    <%= render "form", service: @service, measurement_options: @measurement_options %>
  <% end %>
</main>