.bank-card, .measurement-card, .user-card-short, .service-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-s);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    margin-bottom: var(--space-m);
    padding: var(--space-xs) var(--space-m);

    > .actions {
        display: flex;
        flex: 0 0 auto;
        align-self: flex-start;
        gap: var(--space-xs);
        align-items: center;
    }
}

.user-card, .client-card, .bill-card {
    > .info {
        display: flex;
        gap: var(--space-s);
        flex-direction: column;
        max-width: 40rem;
        background-color: var(--color-white);
        border-radius: var(--border-radius);
        padding: var(--space-s);
        box-shadow: var(--shadow-small);

        > .items {
            display: flex;
            gap: var(--space-xl);
            margin-top: var(--space-m);
        }
    }

    > .actions {
        gap: var(--space-s);
        max-width: 40rem;
        background-color: var(--color-white);
        border-radius: var(--border-radius);
        padding: var(--space-s);
        box-shadow: var(--shadow-small);
    }
}

.client-card-short {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    margin-bottom: var(--space-m);
    padding: var(--space-xs) var(--space-m);
}