.bank-card, .measurement-card, .user-card-short, .service-card, .bill-card-short {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-s);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    margin-bottom: var(--space-m);
    padding: var(--space-xs) var(--space-m);

    > .actions {
        display: flex;
        flex: 0 0 auto;
        align-self: flex-start;
        gap: var(--space-m);
        align-items: center;
        flex-direction: row;
    }
}

.user-card, .client-card, .bill-card {
    margin: 0 auto;
    max-width: 50rem;
    > .info {
        display: flex;
        gap: var(--space-s);
        flex-direction: column;
        background-color: var(--color-white);
        border-radius: var(--border-radius);
        padding: var(--space-s);
        box-shadow: var(--shadow-small);

        > .items {
            display: flex;
            flex-direction: column;
            margin: var(--space-m) 0;

            > .item {
                display: flex;
                gap: var(--space-xl);
                margin: var(--space-s) 0;
            }
        }
    }

    > .actions {
        display: flex;
        gap: var(--space-m);
        background-color: var(--color-white);
        border-radius: var(--border-radius);
        padding: var(--space-s);
        box-shadow: var(--shadow-small);
    }
}

.client-card-short {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    margin-bottom: var(--space-m);
    padding: var(--space-xs) var(--space-m);
}