.bank-form, .measurement-form, .service-form {
    display: flex;
    gap: var(--space-xs);
    width: 100%;
    justify-content: space-between;
    margin-bottom: var(--space-m);
    background-color: var(--color-white);
    padding: var(--space-xs) var(--space-m);

    > .rows {
        display: flex;
        gap: var(--space-xs);

        > .submit {
            display: flex;
            align-items: end;
        }
    }
}

.client-form {
    display: flex;
    gap: var(--space-s);
    flex-direction: column;
    max-width: 30rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: var(--space-s);
    box-shadow: var(--shadow-small);

    > .rows {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);

        > .row {
            display: flex;
            justify-content: space-between;
        }
    }
}
