.bank-form, .measurement-form, .service-form, .bill-form, .bill-item-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    width: 100%;
    justify-content: space-between;
    margin-bottom: var(--space-m);
    background-color: var(--color-white);
    padding: var(--space-xs) var(--space-m);

    > .rows {
        display: flex;
        gap: var(--space-xs);
        align-items: center;
        justify-content: space-between;

        > .submit {
            display: flex;
            align-items: end;
        }
    }
}

.client-form {
    display: flex;
    gap: var(--space-s);
    margin: var(--space-s) var(--space-m);
    flex-direction: column;
    max-width: 30rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: var(--space-s);
    box-shadow: var(--shadow-small);

    > .rows {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);

        > .row {
            display: flex;
            justify-content: space-between;
        }
    }
}

.login-form, .registration-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-primary);
    width: fit-content;
    margin: 80px auto 0;
    padding: var(--space-xl) var(--space-xl);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-large);

    .actions {
        > input {
            padding: var(--space-xxxs) var(--space-xs);
            border-radius: var(--border-radius);

            &:hover {
                background-color: black;
                color: var(--color-white);
                transition: 0.5s;
                cursor: pointer;
            }
        }
    }
}

.registration-form #new_user, .registration-form #edit_user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-l);
}
