.guests-index {
    > .users {
        margin-top: var(--space-m);
        display: flex;
        flex-direction: column;
        gap: var(--space-xl);
        > .user {
            display: flex;
            flex-direction: column;
            gap: var(--space-xl);
            font-size: var(--font-size-xxl);
            box-shadow: var(--shadow-small);
            padding: var(--space-l);
            > .services {
                display: flex;
                gap: var(--space-l);
                > .service {
                    font-size: var(--font-size-xl);
                    box-shadow: 0 0 15px #e59898;
                    border-radius: var(--border-radius);
                    display: flex;
                    flex-direction: column;
                    gap: var(--space-l);
                    padding: var(--space-l);
                    width: 10rem;
                    height: 10rem;
                    justify-content: center;
                }
            }
        }
    }
}